In [1]:
# IMPORT LIBRARIES
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# IMPORT DATA
df = pd.read_csv('startup_funding.csv')
df

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
0,1,09-01-2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
1,2,13-01-2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN
2,3,09-01-2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
3,4,02-01-2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
4,5,02-01-2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN
...,...,...,...,...,...,...,...,...,...,...
3039,3040,29-01-2015,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,"45,00,000",NaN
3040,3041,29-01-2015,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,"8,25,000",Govt backed VC Fund
3041,3042,30-01-2015,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,"15,00,000",NaN
3042,3043,30-01-2015,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,NaN,"Strategic Funding, Minority stake"
3043,3044,31-01-2015,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,"1,40,000",NaN

In [3]:
df.shape

(3044, 10)

In [4]:
df['Startup Name'].unique()

array(['BYJU’S', 'Shuttl', 'Mamaearth', ..., 'Graphene', 'Simplotel',
       'couponmachine.in'], dtype=object)

In [5]:
df['Startup Name'].nunique()

2459

In [6]:
# df['Startup Name'].sort_values().unique().tolist()

In [7]:
# df['Investors Name'].sort_values().unique().tolist()

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3044 entries, 0 to 3043
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sr No              3044 non-null   int64
 1   Date dd/mm/yyyy    3044 non-null   object
 2   Startup Name       3044 non-null   object
 3   Industry Vertical  2873 non-null   object
 4   SubVertical        2108 non-null   object
 5   City  Location     2864 non-null   object
 6   Investors Name     3020 non-null   object
 7   InvestmentnType    3040 non-null   object
 8   Amount in USD      2084 non-null   object
 9   Remarks            419 non-null    object
dtypes: int64(1), object(9)
memory usage: 237.9+ KB

In [9]:
df['Investors Name'].value_counts()

Investors Name
Undisclosed Investors                                        39
Undisclosed investors                                        30
Ratan Tata                                                   25
Indian Angel Network                                         23
Kalaari Capital                                              16
                                                             ..
Intex Technologies                                            1
Samridhi Fund                                                 1
Malini Patel, Stelcore Management Services, Anjani Prasad     1
Om Chaudhry                                                   1
UK based Group of Angel Investors                             1
Name: count, Length: 2412, dtype: int64

In [10]:
df.drop(columns='Remarks', inplace=True)

In [11]:
df.sample()

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD
2927,2928,28-03-2015,Team Indus,NaN,NaN,NaN,"Nandan Nilekani, Rajiv Mody, Ajai Chowdhary",Private Equity,"15,00,000"

In [12]:
df.set_index('Sr No', inplace=True)

In [13]:
df.sample()

,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD
Sr No,,,,,,,,
2828,10-04-2015,iMMi Life,Mobile Health Tech,NaN,Chennai,Unitus Seed Fund,Seed Funding,NaN

In [14]:
dict = {'Date dd/mm/yyyy':'Date',
        'Startup Name':'Startup',
        'Industry Vertical': 'Vertical',
        'SubVertical':'Sub_Vertical',
        'City  Location':'Location',
        'Investors Name':'Investors',
        'InvestmentnType':'Investment_Round',
        'Amount in USD': 'Amount'}

In [15]:
df.rename(columns=dict, inplace=True)

In [16]:
df.Amount.fillna(0, inplace=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3044 entries, 1 to 3044
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              3044 non-null   object
 1   Startup           3044 non-null   object
 2   Vertical          2873 non-null   object
 3   Sub_Vertical      2108 non-null   object
 4   Location          2864 non-null   object
 5   Investors         3020 non-null   object
 6   Investment_Round  3040 non-null   object
 7   Amount            3044 non-null   object
dtypes: object(8)
memory usage: 214.0+ KB

In [18]:
df.Amount = df.Amount.str.replace(',','')
df.Amount = df.Amount.str.replace('undisclosed','0')
df.Amount = df.Amount.str.replace('unknown','0')
df.Amount = df.Amount.str.replace('Undisclosed','0')
df.Amount = df.Amount.str.replace('14342000+','14342000')
df.Amount = df.Amount.str.replace(r'[^0-9.]', '', regex=True)

In [19]:
df['Amount'] = df['Amount'].astype(str).fillna('0')

In [20]:
df['Amount'] = df['Amount'].astype(float)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3044 entries, 1 to 3044
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              3044 non-null   object
 1   Startup           3044 non-null   object
 2   Vertical          2873 non-null   object
 3   Sub_Vertical      2108 non-null   object
 4   Location          2864 non-null   object
 5   Investors         3020 non-null   object
 6   Investment_Round  3040 non-null   object
 7   Amount            2084 non-null   float64
dtypes: float64(1), object(7)
memory usage: 214.0+ KB

In [22]:
def to_inr(dollar):
    inr = dollar*82.5
    return round(inr/10000000,2)

In [23]:
df['Amount'].apply(to_inr)

Sr No
1       1650.00
2         66.40
3        151.46
4         24.75
5         14.85
         ...
3040      37.12
3041       6.81
3042      12.38
3043        NaN
3044       1.16
Name: Amount, Length: 3044, dtype: float64

In [24]:
df.sample()

,Date,Startup,Vertical,Sub_Vertical,Location,Investors,Investment_Round,Amount
Sr No,,,,,,,,
260,03-05-2018,Disprz,IT,SaaS,Chennai,"IL&FS Private Equity, Kae Capital & Others",Seed / Angel Funding,2500000.0

In [25]:
df['Date'] = df['Date'].str.replace('05/072018', '05-07-2018')
df['Date'] = df['Date'].str.replace('13/04.2015', '13-04-2015')
df['Date'] = df['Date'].str.replace('01/07/015', '01-07-2015')
df['Date'] = df['Date'].str.replace(r'\\xc2\\xa0', '', regex=True)
df['Date'] = df['Date'].str.replace('12/05.2015', '12-05-2015')
df['Date'] = df['Date'].str.replace('15/01.2015', '15-01-2015')
df['Date'] = df['Date'].str.replace('22/01//2015', '22-01-2015')
df['Date'] = df['Date'].str.replace(r'\\\\xc2\\\\xa010/7/2015', '10-7-2015', regex=True)

In [26]:
df['Date'] = pd.to_datetime(df.Date,format='%d-%m-%Y')

In [27]:
df['Date']

Sr No
1      2020-01-09
2      2020-01-13
3      2020-01-09
4      2020-01-02
5      2020-01-02
          ...
3040   2015-01-29
3041   2015-01-29
3042   2015-01-30
3043   2015-01-30
3044   2015-01-31
Name: Date, Length: 3044, dtype: datetime64[ns]

In [28]:
df['Date'].dt.day

Sr No
1        9
2       13
3        9
4        2
5        2
        ..
3040    29
3041    29
3042    30
3043    30
3044    31
Name: Date, Length: 3044, dtype: int32

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3044 entries, 1 to 3044
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              3044 non-null   datetime64[ns]
 1   Startup           3044 non-null   object
 2   Vertical          2873 non-null   object
 3   Sub_Vertical      2108 non-null   object
 4   Location          2864 non-null   object
 5   Investors         3020 non-null   object
 6   Investment_Round  3040 non-null   object
 7   Amount            2084 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 214.0+ KB

In [30]:
df.Amount = df.Amount.fillna(0)

In [31]:
df = df.dropna(subset=['Date', 'Startup', 'Vertical', 'Location', 'Investors', 'Investment_Round', 'Amount'])

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2836 entries, 1 to 2873
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              2836 non-null   datetime64[ns]
 1   Startup           2836 non-null   object
 2   Vertical          2836 non-null   object
 3   Sub_Vertical      2080 non-null   object
 4   Location          2836 non-null   object
 5   Investors         2836 non-null   object
 6   Investment_Round  2836 non-null   object
 7   Amount            2836 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 199.4+ KB

In [33]:
df.to_csv('Startup_V01.csv', index=False)

In [34]:
df

,Date,Startup,Vertical,Sub_Vertical,Location,Investors,Investment_Round,Amount
Sr No,,,,,,,,
1,2020-01-09,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,200000000.0
2,2020-01-13,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,8048394.0
3,2020-01-09,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,18358860.0
4,2020-01-02,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,3000000.0
5,2020-01-02,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,1800000.0
...,...,...,...,...,...,...,...,...
2869,2015-04-29,Tracxn,Startup Analytics platform,NaN,Bangalore,SAIF Partners,Private Equity,3500000.0
2870,2015-04-29,Dazo,Mobile Food Ordering app,NaN,Bangalore,"Sumit Jain, Aprameya Radhakrishna, Alok Goel, ...",Seed Funding,0.0
2871,2015-04-29,Tradelab,Financial Markets Software,NaN,Bangalore,Rainmatter,Seed Funding,400000.0
2872,2015-04-29,PiQube,Hiring Analytics platform,NaN,Chennai,The HR Fund,Seed Funding,500000.0
2873,2015-04-29,Travel Triangle,Online Travel Marketplace,NaN,Noida,"Bessemer Venture Partners, SAIF Partners",Private Equity,8000000.0

In [43]:
investors = sorted(set(df['Investors'].str.split(',').sum()))

In [50]:
len(investors)

3480

In [44]:
investor = [item.strip() for item in investors]

In [49]:
investor[:10]

['',
 '& Others',
 '100 Co-founders Lab and others.',
 '122 West Ventures',
 '1Crowd',
 '3ONE4 Capital Advisors',
 '3one4 Capital',
 '3one4 Capital Advisors LLP',
 '500 Start-Ups',
 '500 Startups']

In [55]:
df[df['Investors'].str.contains('IDG Ventures')]

,Date,Startup,Vertical,Sub_Vertical,Location,Investors,Investment_Round,Amount
Sr No,,,,,,,,
102,2019-04-13,Tripoto,Social Media,Travel,New Delhi,"Orchid India, Hornbill Orchid India Fund, Chir...",Series B,3591375.0
223,2018-07-30,Cure Fit,Consumer Internet,Health and fitness Platform,Bengaluru,"IDG Ventures, Accel Partners, Kalaari Capital ...",Private Equity,120000000.0
259,2018-05-02,Bizongo,Consumer Internet,Aggregator For Packaging Material,Mumbai,"B Capital, International Finance Corporation (...",Private Equity,22000000.0
310,2018-04-26,POPxo,Technology,Women Focussed Digital Media Platform,Delhi,"Neoplux, OPPO, IDG Ventures India, Kalaari Cap...",Private Equity,5500000.0
439,2017-12-07,eShakti,Ecommerce,"""Women\\'s Fashion Clothing Online Platform""",Chennai,IDG Ventures,Debt Funding,2300000.0
478,2017-11-04,Hevo Data,Technology,Real time data analytics & reporting,Bangalore,IDG Ventures India,Private Equity,1000000.0
479,2017-11-06,Smart Karma,Technology,Financial Technology Research Platform,Bangalore,IDG Ventures India,Private Equity,0.0
490,2017-11-09,Mobiliz AR,Technology,Augmented Reality based Tech platform,Bangalore,"IDG Ventures, IDFC-Parampara Fund",Private Equity,0.0
505,2017-11-21,Heckyl,Technology,Big Data Analytics Platform,Mumbai,"Notion Capital, IDG Ventures",Private Equity,2700000.0
528,2017-10-05,Little Black Book,Consumer Internet,Local Recommendations and Discoveries Platform,New Delhi,"Blume Ventures, IDG Ventures & Indian Angel Ne...",Private Equity,1000000.0
660,2017-08-21,Uniphore,Technology,speech recognition startup,Chennai,IDG Ventures,Private Equity,6800000.0
673,2017-08-29,CureFit,Consumer Internet,End to End health and wellness platform.,Bangalore,"Accel Partners, IDG Ventures, Kalaari Capital,...",Private Equity,25000000.0
699,2017-07-17,Vayana,Technology,Enterprise Banking Solutions,Pune,"IDG Ventures India Advisors, Jungle Ventures",Private Equity,4000000.0
948,2017-03-07,Blowhorn,Consumer Internet,Intra-City Logistics provider,Bangalore,"IDG Ventures India, Michael & Susan Dell Found...",Private Equity,3650000.0
962,2017-03-16,mPaani,Consumer Internet,Loyalty rewards app,Mumbai,"IDG Ventures, Blume Ventures, Saha Fund,",Private Equity,1350000.0
964,2017-03-16,POPxo,Consumer Internet,Digital Media publication for women,New Delhi,"GREE Ventures, Kalaari Capital and IDG Venture...",Private Equity,3100000.0
1012,2017-02-13,Sigtuple,Technology,Medical Automation platform,Bangalore,"Accel Partners, IDG Ventures, Endiya Partners,...",Private Equity,5800000.0
1061,2017-01-12,Hansel.io,Consumer Internet,Real-time Mobile App Management Platform,Bangalore,"IDG Ventures, Endiya Partners",Private Equity,1350000.0
1202,2016-11-05,Bizongo,eCommerce,Packaging Material Marketplace,Mumbai,"IDG Ventures, Accel Partners",Private Equity,3000000.0
1211,2016-11-14,Active.ai,Technology,Banking & Fintech Platform,Singapore,"Kalaari Capital, IDG Ventures India",Private Equity,3000000.0
1215,2016-11-15,PlaySimple,Technology,Mobile Gaming portal,Bangalore,"SAIF Partners, IDG Ventures India",Private Equity,4000000.0
1234,2016-11-23,Infisecure,Technology,Bot Protection Solutions,Mumbai,"IDG Ventures, Axilor Ventures",Seed Funding,600000.0
1263,2016-10-03,Uniphore,Technology,Speech Recognition Solutions,Chennai,"IDG Ventures, Indian Angel Network (IAN), Your...",Private Equity,2000000.0
1395,2016-09-23,\\xc2\\xa0CloudCherry,Technology,CRM SAAS Platform,Chennai,"Vertex Ventures, Cisco Ventures, IDG Ventures",Private Equity,6000000.0
1498,2016-08-31,Flyrobe,eCommerce,Online fashion rental platform,Mumbai,"IDG Ventures, Sequoia Capital, GREE Ventures",Private Equity,5300000.0
1506,2016-07-04,Curefit,Consumer Internet,Online Preventive Healthcare Platform,Bangalore,"Accel Partners, IDG Ventures, Kalaari Capital",Private Equity,15000000.0
1536,2016-07-13,RentMojo,Consumer Internet,Online Furniture Renting Platform,Bangalore,"Accel Partners, IDG Ventures India",Private Equity,5000000.0
1673,2016-05-04,Lenskart,eCommerce,Eyewear & Accessories etailer,New Delhi,"International Finance Corp, TPG Growth, Adveq ...",Private Equity,60000000.0
1681,2016-05-05,Unbxd,Technology,eCommerce product discovery software,New Delhi,"IDG Ventures, Inventus Capital, Indian Angel N...",Private Equity,0.0
1689,2016-05-10,HealthifyMe,Consumer Internet,Health & Fitness App,Bangalore,"IDG Ventures India, Inventus Capital, Blume Ve...",Private Equity,6000000.0
1933,2016-02-08,Xpressbees,ECommerce,ECommerce Logistics solutions,Pune,"SAIF Partners, IDG Ventures India, Vertex Vent...",Private Equity,12500000.0
1950,2016-02-15,Aasaanjobs,Consumer Internet,Online Recruitment Marketplace,Mumbai,"Aspada Advisors, IDG Ventures,\\xc2\\xa0 Inven...",Private Equity,5000000.0
2199,2015-11-02,CityFlo,Bus Aggregation and rental mobile app,NaN,Mumbai,IDG Ventures,Seed Funding,750000.0
2216,2015-11-06,POPxo.com,Online content platform for women,NaN,New Delhi,"IDG Ventures India, Kalaari Capital, 500 Startups",Private Equity,2000000.0
2264,2015-11-23,RentoMojo,"Online Furniture, Home Appliances Rental Platform",NaN,Bangalore,"IDG Ventures India,\\xc2\\xa0 Accel Partners I...",Private Equity,2000000.0
2276,2015-11-26,Pluss,Hyperlocal healthcare product Delivery Service...,NaN,Gurgaon,"IDG Ventures, M & S partners, Powerhouse Ventu...",Private Equity,1000000.0
2329,2015-10-12,Tripoto,global community for travellers,NaN,New Delhi,"500 Startups, IDG Ventures & Advantedge fund, ...",Private Equity,0.0
2521,2015-08-13,Agrostar,Mobile Commerce for Farmers,NaN,Pune,IDG Ventures,Private Equity,4000000.0
2571,2015-07-01,Cloudcherry Analytics,CRM / Analytics platform,NaN,Chennai,"The Chennai Angels, IDG Ventures India",Seed Funding,1000000.0
2635,2015-07-23,iCrushiFlush,Casual Dating App,NaN,Mumbai,IDG Ventures India,Seed Funding,0.0
2652,2015-07-29,Zimmber,Hyperlocal Handyman Services,NaN,Mumbai,"IDG Ventures India, Omidyar Network, Sherpalo ...",Private Equity,2000000.0
2742,2015-06-26,CreditMantri,Credit Management Services,NaN,Chennai,"IDG Ventures India, Elevar Equity, Accion Vent...",Private Equity,2500000.0
2761,2015-05-05,Fintellix,Banking Analytics Platform,NaN,Bangalore,"IDG Ventures, Sequoia Capital",Private Equity,15000000.0
2765,2015-05-07,Uniphore,Speech Recognition Solutions,NaN,Chennai,"IDG Ventures, Kris Gopalakrishnan",Private Equity,0.0
2819,2015-04-08,FirstCry.com,eCommerce,NaN,Pune,"Silicon Valley Ventures, NEA Ventures, Valiant...",Private Equity,10000000.0